x-autocomplete {
    position: relative;
    display: inline-block;

    ul {
        left: 0;
        display: none;
        position: fixed;

        background: white;
        z-index: 1;
        border: 1px solid #B9B9B9;
        margin: 0;
        padding: 0;

        width: 230px;
        max-height: 400px;
        overflow: auto;

        &.down {
          top: 100%;
        }

        &.up {
          bottom: 100%;
        }
    }
    li {
        display: block;
        line-height: 18px;
        margin: 0;
        min-width: 206px;
        padding: 2px 4px;

        cursor: pointer;

        border-bottom: 1px solid #E6E6E6;

        color: black;
        text-align: left;
        font-weight: normal;
        white-space: normal;

        &.x-autocomplete-selected {
            background: #0C97E1;
            color: white;
        }
    }
    input {
        border-right: none;
        padding: 2px;
        height: 20px;
        background-color: #fff;
        border: 1px solid #acacac;
    }
    .x-autocomplete-toggle { // @extend .form-add-on
        margin-left: -3px;

        display: inline-block;
        vertical-align: top;
        cursor: pointer;

        &:after {
            content: "";
            display: block;

            min-width: 16px;
            height: 20px;
            padding: 2px 4px;

            border: 1px solid #acacac;

            background-color: #E6E6E6;
            background-repeat: no-repeat;
            background-position: center center;

        }
    }
}
